<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Same content as login.html -->
</head>
<body>
    <nav>
        <h1 class="nav_head">BE FIT</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <section id="login">
        <h1 class="contact_head">Login <span>Here!</span></h1>
        <div class="form">
            <form action="/login" method="POST">
                <div class="form_group">
                    <input type="text" name="username" placeholder="Enter Username/Email" required="">
                </div>
                <div class="form_group">
                    <input type="password" name="password" placeholder="Enter Password" required="">
                </div>
                <button type="submit" class="form_btn">Login</button>
            </form>
        </div>
    </section>
</body>
</html>
